.form {
	background: #59bc6c;
	height: 100%;
	width: 100%;
	position: relative;
	padding-bottom: 2rem;
}

.row {
	width: 100%;
	display: flex;
	justify-content: center;
	/* flex-direction: column; */
}

.batsu {
	position: absolute;
	/* display: block; */
	/* position: relative; */
	left: 50px;
	top: 50px;
	width: 30px;
	height: 30px;
	background-color: #fff;
}
.batsu::before,
.batsu::after {
	/* 共通設定 */
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5px; /* 棒の幅（太さ） */
	height: 30px; /* 棒の高さ */
	background: #fff;
}

.batsu::before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.batsu::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.plus {
	position: absolute;
	left: 80%;
	top: 80%;
	width: 100px;
	height: 100px;
	background-color: #59bc6c;
}

.btn {
	width: 30%;
	min-width: 100px;
	max-width: 100px;
	height: 3rem;
	border: 1px solid #ddd;
	border-radius: 16px;
	box-shadow: 0px 2px 2px 0px #000;
	font-weight: 900;
	font-size: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.num3 {
	text-align: center;
	font-family: 'Inter';
	font-size: 50px;
	font-weight: 400;
	line-height: normal;
	color: white;
	margin: 30px 0;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	letter-spacing: 0.7px;
}
.searchModal {
	background: #59bc6c;
	width: 100%;
	/* modal の最小の高さに合わせる */
	min-height: 500px;
	height: 100%;
	padding-bottom: 2rem;
}

.bookCard {
	background-color: white;
	width: 80%;
	display: flex;
	margin-bottom: 30px;
	border-radius: 20px;
	padding: 29px 27px 14px 19px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	word-wrap: break-word;
	overflow: hidden;
}

.flexWrapperFour {
	margin-bottom: 5px;
	display: flex;
	align-items: flex-start;
}
.num2022061316151 {
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

.flexWrapperFive {
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 30vw;
}

.bookTitle {
	height: 25px;
	color: black;
	letter-spacing: 0.28px;
	font-family: 'Inter';
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	word-wrap: break-word;
}

.author {
	width: 337px;
	color: black;
	letter-spacing: 0.28px;
	font-family: 'Inter';
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
}

.descriptionWrapper {
	display: flex;
	height: fit-content;
	overflow: hidden;
	padding: 0.5em;
}
.booksapidescription {
	color: black;
	letter-spacing: 0.28px;
	font-family: 'Inter';
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	word-wrap: break-word;
	text-overflow: ellipsis;
}

.flexWrapperTwo {
	margin-bottom: 31px;
	padding: 0 40px 0 0;
	display: flex;
	justify-content: center;
}

.p {
	margin-right: 18px;
	text-align: center;
	font-family: 'Inter';
	font-size: 40px;
	font-weight: 400;
	line-height: normal;
	color: white;
}

.flexWrapperThree {
	margin-bottom: 48px;
	display: flex;
	justify-content: space-around;
}
.rectangle19 {
	text-align: center;
	width: 30%;
	height: 56px;
	background-color: white;
	border-radius: 20px;
	border: none;
	font-size: 20px;
}
.rectangle22 {
	width: 96px;
	height: 56px;
	font-size: 20px;
	background-color: white;
	border-radius: 20px;
	border: none;
}

.rectangle19:not(:last-of-type) {
	margin-right: 30px;
}

.group36 {
	background-color: white;
	width: 180px;
	border-radius: 20px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25),
		0 4px 4px 0 rgba(0, 0, 0, 0.25);
	text-align: center;
}
.group36:active {
	transform: translateY(-5px);
}

.text {
	margin: 15px 0;
	color: black;
	font-family: 'Inter';
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
}

.container {
	position: relative;
	display: block;
	min-width: 100vh;
	min-height: 100vh;
	max-height: 100vh;
	background: #59bc6c;
	display: flex;
	justify-content: center;
	overflow: auto;
}
.close__button {
	position: absolute;
	top: 0px;
	left: 50px;
	color: white;
	font-size: 100px;
	font-weight: bold;
}
.close__button:hover {
	color: gray;
}

.close__button:active {
	transform: translateY(-5px);
}
.main {
	width: 50%;
	display: flex;
	flex-direction: column;
	/* padding: 1rem 2rem; */
}
.title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	text-align: center;
	line-height: 61px;
	letter-spacing: 0.014em;
	color: #ffffff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* book shelf */

.bookShelfContainer {
	/* width: 40%; */
	margin: 0 15%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 2rem 0;
	overflow: hidden;
}

.bookShelfImage {
	width: calc(30%);
	position: relative;
	display: flex;
	justify-content: center;
}

.firstRowImage::before {
	content: '';
	height: 15px;
	position: absolute;
	bottom: 0;
	width: 1200%;
	left: -500%;
	background: #bdc5cd;
}

.bookImage {
	border-radius: 20px;
	box-shadow: 0 4px 4px 0 #bbb;
}

.search__container {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 1rem;
	z-index: 10;
	background: #59bc6c;
	position: sticky;
	top: 0;
}

.search__icon {
	position: absolute;
	top: 40%;
	left: 12%;
}

.search__input {
	width: 80%;
	height: 39px;
	background: #ebeef0;
	border-radius: 20px;
	padding-left: 2rem;
	outline: none;
	border: none;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 2);
}
