.close__button {
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	outline: none;
	border-radius: 9999px;
	background: #fff;
	font-size: 40px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.close__button:hover {
	background: #e9e9e9;
}

.form__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 90%;
	max-width: 90%;
	padding: 1rem;
	padding-bottom: 3rem;
}

.input__container {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	height: fit-content;
	padding: 1rem;
	border: 1px solid black;
}

.input__label {
	padding-bottom: 0.5rem;
	color: #565656;
}

.input {
	border: none;
	outline: none;
	font-size: 1.2rem;
}

.textarea {
	border: none;
	outline: none;
	font-size: 1.2rem;
	max-width: 100%;
}

.edit__button {
	cursor: pointer;
	position: absolute;
	top: 65px;
	right: 22px;
	height: 42px;
	width: 172px;
	border-radius: 20px;
}

.input__image__container {
	margin-top: 30px;
	position: relative;
	display: flex;
	justify-content: center;
}

.input__image__button {
	border: none;
	outline: none;
	background: #fff;
	cursor: pointer;
	border-radius: 9999px;
}

.user__image {
	border-radius: 9999px;
}

.input__file {
	display: none;
}
